@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/* Global************************* */

body {
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
}
header{
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    -webkit-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.3);

}

header ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

header ul li {
    display: inline-block;
    padding: 10px 20px;
}

header ul li a {
    text-decoration: none;
    color: #555555;
}

footer {

    background-color: #d1d1d1;
    text-align: center;
    width: 100%;
    padding: 10px 0;
    margin: 0;
}

nav a.selected {
    color: #727171;
    font-weight: bold;
}


/* Home*************************************** */

.banner img {

    width: 100vw;
    max-width: 100%;
    vertical-align: bottom;

    
}

.concept {
    width: 60%;
    margin: 0 auto
}

.externals img{
    width: 40vw;
}

.externals {
    width: 60%;
    margin: 0 auto;
    display: flex;
    
}

.externals-items ol{
    padding-top: 4em;
}
.youtube {
    text-decoration: none;
    color: #727171;
    font-weight: bold;
}

/* About *********************************** */

.about-content {
    width: 40%;
    font-size: .9em;
    margin: 10em auto 5em;
    text-align: center;
    align-content: center;
}

.about-content img {
    width: 70%;
}

/* Contact *********************************** */

.contact {
    margin: 12em 9rem 4em;
}

.contact-form {
    border-bottom: solid 2px #999999;
    padding-bottom: 20px;
}

.contact h2 {
    font-size: 1.5rem;
}
.userconfig input {
    margin-bottom: 20px;
    width: 100%;
    height: 25px;
    padding: 1px;
}

.userconfig textarea {
    margin-bottom: 20px;
    width: 100%;
    height: 40px;
    resize: none;
}


.socialconfig {
    margin-bottom: 20px;
}

.newsletter-config {
    margin-bottom: 20px;
}

.contact-list .contact-item {

    border-bottom: solid 2px #999999;
}

.flex-container {
    display: flex;
    border-bottom: solid 2px #999999;

    padding-bottom: 50px;

    
}

.flex-item {
    /* flex: 1 1 100%; */
    align-content: space-between;
    padding-right: 0;

}


.flex-item button {
    background-color: #727171;
    color: white;
    border: none;
    width: 70px;
    height: 25px;
}


#userdata{
    padding-right: 30px;
}

.contact-list > article:last-of-type {
    border-bottom: none;
    padding-bottom: 20px;
}

/* Music *********************************** */

.music {
    margin: 10em 10em 5em;

}

.music-item iframe {
    width: 600px;
}

/* Media query *********************************** */

@media (max-width: 1160px) {
    .about-content {
        margin: 12em auto 7em;
    }

    .music-item iframe {
        width: 30em;
        height: 20em;
    }
    
    .map iframe {
        width: 100%;
        height: 90%;
    }
    .contact {
        margin: 12em 7em 4em;
    }

}

@media (max-width: 800px) {
    .externals {
        display: block;
        padding-top: 0;;
    }
    .about-content {
        width: 70%;
    }
    .music-item iframe {
        width: 22em;
        height: 15em;
    }
    .music {
        margin: 10em 5em 3em;    
    }
    .flex-container {
        display: block;
    }
    .map iframe {
        margin-top: 2em;
    }

}

@media (max-width: 600px) {
    .banner img {
        margin-top: 7em;
    }

    .externals img{
        width: 100%;
    }
    .externals-items ol{
        padding-top: 0;
    }
    .about-content {
        font-size: 1.1em;
        margin: 15em auto 6em;;
    }
    .music-item {
        font-size: .9em;
    }
    .music-item iframe {
        width: 19em;
        height: 12em;
    }
    .music {
        margin: 10em 3em 3em;
    
    }
    .contact {
        margin: 12em 5em 3em;
    }

}

@media (max-width: 400px) {
    header ul li a {
        font-size: .6em;
    }
    .about-content {
        font-size: 1.3em;
        width: 90%;
        margin: 9em auto 2em;
    }
    .about-content img {
        width: 90%;
    }
    .music {
        margin: 10em 1em 1em;    
    }
    .contact {
        margin: 10em 3em 1em;
    }

}