@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/* Global************************* */

body {
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
}
header{
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    -webkit-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.3);

}

header ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

header ul li {
    display: inline-block;
    padding: 10px 20px;
}

header ul li a {
    text-decoration: none;
    color: #555555;
}

footer {
    background-color: #d1d1d1;
    text-align: center;
    width: 100%;
    padding: 10px 0;
    margin: 0;
}

nav a.selected {
    color: #727171;
    font-weight: bold;
}


/* Home*************************************** */

.banner img {
    width: 100%;
    vertical-align: bottom;
    
}

/* About *********************************** */

.about-content {
    margin: 200px 200px 50px 200px;
    text-align: center;
}

.about-content img {
    width: 400px;
}

/* Contact *********************************** */

.contact-form {
    margin-left: 200px;
    margin-right: 200px;
    border-bottom: solid 2px #999999;
    padding-bottom: 20px;
}

.contact h2 {
    margin-top: 200px;
    margin-left: 200px;
    font-size: 1.5rem;
}
.userconfig input {
    margin-bottom: 20px;
    width: 100%;
    height: 25px;
    padding: 1px;
}

.userconfig textarea {
    margin-bottom: 20px;
    width: 100%;
    height: 40px;
    resize: none;
}


.socialconfig {
    margin-bottom: 20px;
}

.newsletter-config {
    margin-bottom: 20px;
}

.contact-list .contact-item {
    margin-left: 200px;
    margin-right: 200px;
    border-bottom: solid 2px #999999;
}

.flex-container {
    display: flex;
    border-bottom: solid 2px #999999;
    margin: 10px 200px 0 200px;
    padding-bottom: 50px;
    
}

.flex-item {
    flex: 1 1 100%;
    padding-right: 0;
}

.flex-item button {
    background-color: #727171;
    color: white;
    border: none;
    width: 70px;
    height: 25px;
}


#userdata{
    padding-right: 30px;
}

.contact-list > article:last-of-type {
    border-bottom: none;
    padding-bottom: 20px;
}

/* Music *********************************** */

.music {
    margin-top: 200px;
    margin-left: 200px;
}

.music-item iframe {
    width: 600px;
}